<!DOCTYPE html>
<html lang="en">
<head>
    <title>IIS Test Page</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Welcome to windows server <em>{{ ansible_hostname }}!</em></h1>
    <h3>This page is served by the windows server configured using Ansible.</h3>
</body>
</html>